%div{ 'data-controller' => 'slideshow', 'data-slideshow-index' => '0' }
  %button.previous{ 'data-action' => 'slideshow#previous' } ←
  %button.next{ 'data-action' => 'slideshow#next' } →
  - @stadia.each do |stadium|
    .slide{ 'data-target' => 'slideshow.slide' }
      %h2
        = stadium.name
      = image_pack_tag stadium.image_file, size: '800x500'
